  :global(*) {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  .main {
    background-color: #b882ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 0;
  }

  .title {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 80px;
    margin-bottom: 30px;
    color: white;
  }

  .container {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    width: 100%;
  }

  .formGroup {
    flex: 1;
  }

  .formGroup label {
    font-size: 18px;
    font-family: "Arial", sans-serif;
    color: #b882ef;
    font-weight: bold;
    margin-bottom: 8px;
    display: inline-block;
  }

  .formGroup input[type="text"],
  .formGroup input[type="tel"],
  .formGroup input[type="date"],
  .formGroup input[type="time"],
  .formGroup input[type="number"],
  .formGroup select {
    width: 100%;
    padding: 10px;
    border: 2px solid #b882ef;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s;
  }

  .formGroup input[type="text"]:focus,
  .formGroup input[type="tel"]:focus,
  .formGroup input[type="date"]:focus,
  .formGroup input[type="time"]:focus,
  .formGroup input[type="number"]:focus,
  .formGroup select:focus {
    border-color: #7c25d3;
    outline: none;
  }

  .submitBtn {
    background-color: #b882ef;
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
  }

  .submitBtn:hover {
    background-color: #7c25d3;
    box-shadow: 0 0 10px #7c25d3;
  }

  .former {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .former .column {
    flex: 1;
    min-width: 250px; /* Ensures columns don't get too narrow */
  }

  .categoryContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }

  .categoryItem {
    background-color: #eaeaea;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s;
  }

  .categoryItem:hover {
    background-color: #d1d1d1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .selected {
    background-color: #b882ef;
    color: white;
    box-shadow: 0 0 5px #7c25d3;
  }

  .gameContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .gameItem {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s;
  }

  .gameItem:hover {
    background-color: #d1d1d1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .selectedGame {
    box-shadow: 0 0 5px 5px #82efa6, 0 0 10px 5px #25d359;
    border-radius: 5px;
    background-color: #b882ef;
    color: white;
  }

  .scrollableGameOptions {
    margin-top: 20px;
    max-height: 520px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    border-radius: 8px;
    scrollbar-width: thin;
    scrollbar-color: #b882ef #eaeaea;
  }

  .scrollableGameOptions::-webkit-scrollbar {
    width: 8px;
  }

  .scrollableGameOptions::-webkit-scrollbar-thumb {
    background-color: #b882ef;
    border-radius: 4px;
  }

  .scrollableGameOptions::-webkit-scrollbar-track {
    background: #eaeaea;
  }

  .error {
    color: red;
    font-size: 16px;
    margin-top: 10px;
  }
